<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">
            %style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}:
            %msg%n%throwable
        </Property>
        <Property name="FILE_LOG_PATTERN">
            %d %p %C{1.} [%t] %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./logs/transaction-manager.log"
                     filePattern="./logs/$${date:yyyy-MM}/transaction-manager-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="io.transatron" level="debug" additivity="false">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="RollingFile" level="debug"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>